<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InactiveAssistantMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InactiveAssistantMonitor.Properties.Settings>
            <setting name="PeriodIntervalInSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="NumberOfIntervalsUntilKill" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UiPathAssistantPathX86" serializeAs="String">
                <value>C:\Program Files (x86)\UiPath\Studio\</value>
            </setting>
            <setting name="UiPathProcessRegexp" serializeAs="String">
                <value>^(UiPath\..+)$</value>
            </setting>
            <setting name="NumberOfChecksOfOrchestrator" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PeriodIntervalConnectionToOrchestrator" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OrchestratorUrl" serializeAs="String">
                <value>https://tam-orchestrator.rpatam.com/</value>
            </setting>
            <setting name="MachineKey" serializeAs="String">
                <value>12345678-AAAA-FFFF-AAAA-7C40390069CE</value>
            </setting>
            <setting name="UiPathAssistantExe" serializeAs="String">
                <value>UiPathAssistant\UiPath.Assistant.exe</value>
            </setting>
            <setting name="UiPathRobot" serializeAs="String">
                <value>UiRobot.exe</value>
            </setting>
            <setting name="UiPathAssistantPath" serializeAs="String">
                <value>C:\Program Files\UiPath\Studio\</value>
            </setting>
        </InactiveAssistantMonitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
